---
import {getCurrentLanguage, useTranslations, getLocalizedUrl, getPathName} from "~/i18n/index.js";
import LanguageSwitcher from "~/components/LanguageSwitcher.astro";
import {Picture} from "astro:assets";

const pathname = getPathName(Astro.url.pathname);
const currentLang = getCurrentLanguage(pathname);
const t = useTranslations(currentLang);

// Images
import LOGO from "~/assets/images/logo_huayuan_transparent_08_46.png";


const menuMain = [
	{
		name: t("nav.home"),
		url: getLocalizedUrl("/", currentLang),
		highlighted: false,
	},
	{
		name: t("nav.lessons"),
		url: getLocalizedUrl("/lessons", currentLang),
		highlighted: false,
	},
	{
		name: t("nav.event"),
		url: getLocalizedUrl("/event", currentLang),
		highlighted: false,
	},
	{
		name: t("nav.about-us"),
		url: getLocalizedUrl("/about-us", currentLang),
		highlighted: false,
	},
	{
		name: t("nav.contact"),
		url: getLocalizedUrl("/contact", currentLang),
		highlighted: false,
	},
];
---
<header x-data="{ open: false }" @keydown.window.escape="open = false"
		class="fixed top-0 left-0 w-full bg-blue-100  z-40 shadow-sm">
	<div class="container py-6 lg:pt-5 lg:pb-5 ">
		<nav class="flex items-center justify-between" aria-label="Global">
			<!--<a href={getLocalizedUrl("/", currentLang)} class="-m-1.5 p-1.5">-->
			<!--	<p class="font-bold text-[1.375rem] text-brand-blue">华源<span class="text-brand-light-blue bg-brand-blue/5 px-3 ml-1 rounded-lg">中&nbsp;文学&nbsp;校</span></p>-->
			<!--	<p class="text-xs text-gray-500 mt-1 text-center">Hua Yuan Chinesischschule</p>-->
			<!--</a>-->

			<Picture
				class:list={"h-16 w-auto "}
				src={LOGO}
				height={400}
				alt="A description of my image."
				loading={"eager"}
				fetchpriority={"high"}
			/>
			<div class="flex lg:hidden items-center gap-4">
				<!-- Language Switcher for Mobile -->
				<LanguageSwitcher
					currentLang={currentLang}
					currentPath={pathname}
				/>
				<button
					type="button"
					class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5"
					@click="open = true"
				>
					<!--<span class="sr-only">Open main menu</span>-->
					<svg
						class="size-8 text-brand-light-blue"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						aria-hidden="true"
						data-slot="icon"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
					</svg>
				</button>
			</div>

			<div class="hidden lg:flex lg:gap-x-6 lg:items-center">
				{
					menuMain.map((item) => (
						<a
							href={item.url}
							class={`transition text-1xl font-semibold hover:text-brand-light-blue ${item.highlighted ? "menu-item-highlighted" : ""} ${pathname === item.url ? "menu-item-active" : ""}`}
						>
							{item.name}
						</a>
					))
				}
				<!-- Language Switcher for Desktop -->
				<LanguageSwitcher
					currentLang={currentLang}
					currentPath={pathname}
				/>
			</div>
		</nav>

		<!-- Mobile Menu -->
		<div class="lg:hidden" x-ref="dialog" x-show="open" x-cloak aria-modal="true">
			<div
				class="fixed inset-0 z-50 w-full overflow-y-auto bg-blue-50 px-8 py-6"
				x-show="open"
				x-transition:enter="transition ease-out"
				x-transition:enter-start="opacity-0"
				x-transition:enter-end="opacity-100"
				x-transition:leave="transition ease-in"
				x-transition:leave-start="opacity-100"
				x-transition:leave-end="opacity-0"
				x-cloak
			>
				<div class="flex items-center justify-between">
					<!--<a href={getLocalizedUrl("/", currentLang)} class="-m-1.5 p-1.5">-->
					<!--	<p class="font-bold text-4xl text-brand-blue">华源<span class="text-brand-light-blue bg-brand-blue/5 px-3 ml-1 rounded-lg">中文学校</span></p>-->
					<!--</a>-->
					<Picture
						class:list={"h-16 w-auto "}
						src={LOGO}
						height={400}
						alt="A description of my image."
						loading={"eager"}
						fetchpriority={"high"}
					/>

					<button type="button" class="-m-2.5 p-2.5 text-brand-light-blue" @click="open = false">
						<span class="sr-only">x</span>
						<svg
							class="size-8"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="2"
							stroke="currentColor"
							aria-hidden="true"
							data-slot="icon"
						>
							<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
						</svg>
					</button>
				</div>
				<div class="mt-6 flow-root">
					<div class="-my-6 divide-y divide-gray-500/10">
						<div class="space-y-2 py-6 mt-16">
							{
								menuMain.map((item) => (
									<a
										@click="open = false"
										href={item.url}
										class={`block py-2 text-center font-semibold text-3xl ${item.highlighted ? "menu-item-highlighted w-max mx-auto !px-8 !py-2" : ""} ${pathname === item.url ? "menu-item-active" : ""}`}
									>
										{item.name}
									</a>
								))
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
